

.big {
    display: none;
}

/* When resolution <= 1200px, hide short text and show full text
@media (max-width: 1200px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}*/
@media screen and (min-width: 700px) {
.small {
    display: none;
}
.big {
    display: block;
}
}
