/*Table of Contents
1. Imports
2. General Rules
3. Mobile Rules
4. Large Screen Rules

*/

/* 1.  Includes (fonts and supplementary stylesheets) */
/*normalizing import*/
@import url('normalize.css');
/*Google Font import*/
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/*General Styles*/
html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

body {
  font-family: helvetica, verdana, sans-serif;
  font-size: 20px;
  background-image: url("/weather/images/rain.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}   

h1 {
    background-color: blue;
    font-family: helvetica, verdana, sans-serif;
}

h2,h3,h4,h5,h6 {
    font-family: sansita, Eurostyle, sans-serif;
  }

.tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
}    

nav li { 
    display: inline-block; 
    list-style: none; 
    border-radius: 15px;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
footer{
    margin-bottom: 2em;
   }

#site-brand {
    font-size: 2em;
    font-weight: 600;
  }
#logo {
    width: 150px;
    position: relative;
    top: 10px;
    left: 10px;
    border: 2px black solid;
    border-radius: 3px;
   box-shadow: 2px 2px 2px black;
  }

#temps{
    width: 20em;
    height: 10em;
    flex: 1 0 15em;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    justify-content: center;
    position: relative;
    text-align: center;
 }

#wind{
    width: 20em;
    height: 17em;
    flex: 1 0 15em;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    justify-content: center;   
    position: relative;
    text-align: center;
  }

#hourly{
    display: inline-block;
    padding-left: 150px;
    width: 20em;
    height: 5em;
    flex: 1 0 15em;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    justify-content: center;
    position: relative;
    text-align: center;
}

.wind {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}





























