/*Table of Contents
1. Imports
/*2. General Rules
*..2a..navigation bar
*..2b..current weather
*..2c..wind styles
3. Mobile Rules
*..3a..Location Information
*..3b..Weather Tiles
*..3c..Hourly Temps
4. Large Screen Rules


/* 1.  Includes (fonts and supplementary stylesheets) */
/*normalizing import*/
@import url('normalize.css');
/*Google Font import*/
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');




/*2. General Rules*/

h1,h2,h3,h4,h5,h6 {
    font-family: Sansita, sans-serif;
    padding: 10px;
  }

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, verdana, sans-serif;
  font-size: 20px;
}  

nav {
  background-color:#1E90FF;
  height: 60px;
  color: white;
  text-align: center;
  padding-top: 10px;
}

ul {
  padding-left: 0;
}
li {
  display: inline;
}

#header {
  height: 50px;
  background-color: #1E90FF;
  display: flex;
  align-items: center;
}

#logo {
  height: 50px;
  float: left;
}

#footer {
  background-color: #1E90FF;
  height: 50px;
}

#high {
  color: red;
}

#low {
  color: blue;
}

.background {
  background-image: url(/weather/images/rain.jpg);
}
#temperature {
  font-size: 3em;
}

#temp {
  display: block;
}

#info {
  font-size: 15px;
}

a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color:#fff;
  text-decoration: underline;
}

#nav li {
  padding: 0 10px;
  white-space: nowrap;
}

#nav {
  padding-top: 10px;
}

#sitename {
  display: inline;
}

#wind {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
}

#windspeed {
  position: relative;
}

.sec {
  border-radius: 20px;
  border: solid black;
  padding: 20px;
  text-align: center;
  margin-top: 3px;
}

#forecast {
  border:black solid;
  border-radius: 20px;
  background-color: lightgray;
  height: 110px;
  margin-top: 5px;
  text-align: center;
}

#hourly {
  white-space: nowrap;
  overflow: auto;
}

#rainimg {
  position: center;
  width: 200px;
}



/* 3. Mobile Rules */

/* 4. Large Screen Rules */




















