/*Table of Contents
1. Imports
/*2. General Rules
*..2a..navigation bar
*..2b..current weather
*..2c..wind styles
3. Mobile Rules
*..3a..Location Information
*..3b..Weather Tiles
*..3c..Hourly Temps
4. Large Screen Rules


/* 1.  Includes (fonts and supplementary stylesheets) */
/*normalizing import*/
@import url('normalize.css');
/*Google Font import*/
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');




/*2. General Rules*/

h1,h2,h3,h4,h5,h6 {
    font-family: Sansita, sans-serif;
    padding: 10px;
  }

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, verdana, sans-serif;
  font-size: 20px;
}  

body>div {
  width: 100vw;
}

#header {
  height: 50px;
  background-color: #1E90FF;
  display: flex;
  align-items: center;
}

#logo {
  height: 50px;
  float: left;
}

#footer {
  background-color: #1E90FF;
  height: 50px;
}

ul {
  padding-left: 0;
}

li {
  display: inline;
}

.background {
  background-image: url(/weather/images/rain.jpg);
}

#sitename {
  display: inline;
}

/*2a. Navigation*/

#nav{
  display:flex;
  justify-content: space-evenly;
  padding-bottom: 10px;  
}

nav {
  position: fixed;
  background-color:#1E90FF;
  height: 45px;
  width: 100%;
  bottom: 0px;
  z-index: 100;
}

#nav li {
 white-space: nowrap;
 color: #fff;
 padding-top: 15px;
}

a:link, a:visited  {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color:#fff;
  text-decoration: underline;
}

/*2b. Current Weather*/

#temperature {
  font-size: 3em;
}

#temp {
  display: block;
}

#high {
  color: red;
}

#low {
  color: blue;
}

/*2c. Wind Styles*/

#wind {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
}

#windspeed {
  position: relative;
}

#dial {
  height: 150px;
  width: 150px;
  background: no-repeat center/85% url('/weather/images/wind-pointer.png');
  z-index: 100;
  margin: -.6em auto 0;
 }

/* 2d. Rotation Rules */

.n {
  transform: rotate(0deg);
}
.ne {
  transform: rotate(45deg);
}
.e {
  transform: rotate(90deg);
}
.se {
  transform: rotate(135deg);
}
.s {
  transform: rotate(180deg);
}
.sw {
  transform: rotate(225deg);
}
.w {
  transform: rotate(270deg);
}
.nw {
  transform: rotate(315deg);
}

/* 3. Mobile Rules */

.sec {
  border-radius: 20px;
  border: solid black;
  padding: 20px;
  text-align: center;
  margin-top: 3px;
}

/*3a. Location Info*/

#info {
  font-size: 15px;
}

/*3b. Weather Tiles*/



/*3c. Hourly Forecast*/

#forecast {
  border:black solid;
  border-radius: 20px;
  background-color: lightgray;
  height: 110px;
  margin-top: 5px;
  text-align: center;
}

#scroll {
  white-space: nowrap;
  overflow: auto;
}

/* background image change rules */

#conditionimage {
  height:50%;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.rain {
  background-image: url("/weather-images/rain-150.jpg");
  background-size: cover;
}

.cloud {
  background-image: url("/weather-images/clouds-150.jpg");
  background-size: cover;
}

.fog  {
  background-image: url("/weather-images/fog-150.jpg");
  background-size: cover;
}

.clear {
  background-image: url("/weather-images/clear-150.jpg");
  background-size: cover;
}
.snow {
  background-image: url("/weather-images/snow-150.jpg");
  background-size: cover;
}

#imagesummary {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 361px;
}

/* 4. Large Screen Rules

/* Moves Navbar to the top of screen */

@media only screen and (min-width: 900px) {
  
  nav{
    position: relative;
  }

#nav {
    padding-bottom: 0px;
    padding-top: 30px;
    margin-top:0px;
 }

  main {
      margin-top:50px;
  }
  
  .background {
      display:flex;
      justify-content:center;
  }
  .sec {
      width: 100%;
      margin:2px;
  }

  body>div {
    width: 90%;
    margin: 0 auto;
    max-width: 1500px;
  }
  
/* background image change rules */

.rain {
  background-image: url("/weather-images/rain-500.jpg");
  background-size: cover;
}
.cloud {
  background-image: url("/weather-images/clouds-500.jpg");
  background-size: cover;
}
.fog  {
  background-image: url("/weather-images/fog-500.jpg");
  background-size: cover;
}
.clear {
  background-image: url("/weather-images/clear-500.jpg");
  background-size: cover;
}
.snow {
  background-image: url("/weather-images/snow-500.jpg");
  background-size: cover;
}

}
















