// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;


header{
    background-color: $byui-blue;
    height: 55px;
    margin-top: 0px;
  }

.icon-byui-logo{
    color: white;
    font-size: 35px;
    background-color: black;
    padding: 10px;
    float: left;
}


.site-banner__right{
    font-size: 30px;
    color: white;
    float: right;
    margin-top: 10px;
    margin-right: 20px;

        a:link, a:visited, a:hover{
            color: white;
            text-decoration: none;
        }

}








  
.icon-search text-white mobile-header-icon{
    content:"\e98b";
    color: white;
    font-size: 30px;
}

